a {
    text-decoration: none!important;
}

#add {
    position: absolute;
    right: 200px;
    top: 80px;
    z-index: 999;
}

.width100 {
    width: 100%!important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
