<!-- header -->
<header>
<nav>
	<ul id="slide-out" class="side-nav">
		<li><a href="#!">Home</a></li>
		<li><a href="#!">More</a></li>
		<li><a href="#!">Here</a></li>
		<li><a href="#!">Add</a></li>
	</ul>
	<div class="brown darken-1">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Cake's</a>
				<ul class="right hide-on-med-and-down">
					<li class="active"><a href="#">Todas</a></li>
					<li><a href="#">Minhas Cucas</a></li>
					<li><a href="#">Sair</a></li>
				</ul>

			</div>
		</div>
	</div>
</nav>
<div class="center-align">
	<a href="#" id="add" class="btn-floating btn-large waves-effect waves-light red lighten-1 hide-on-med-and-down"><i class="material-icons">add</i></a>
</div>
</header>

<!-- Main-->
<main>
<div class="container">
	<div class="row">
		<!-- Cards -->
		<div class="col s12 m6 l4">
			<div class="card">
				<div class="card-image">
					<img src="http://demo.geekslabs.com/materialize/v2.2/layout03/images/user-profile-bg.jpg" height="250px">
					<span class="card-title">Cuca da Sexta-Feira</span>
				</div>
				<div class="card-content">
					<p>Preparados? Cuca na próxima sexta feira! Esperamos por vocês.</p>
					<br>
					<p>Data: 10/08/2017</p>
					<p>Valor: R$ 10.00</p>
				</div>
				<div class="card-action">
					<a href="#">PARTICIPAR</a>
				</div>
			</div>
		</div>
		<!-- /Cards -->
	</div>
</div>
</main>

<!-- footer -->
<footer>
</footer>
