<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Cuca Manager</span>
        </div>
        <nav class="mdl-navigation" style="margin-left: 50px">
            <a href="#/list" class="mdl-layout__tab is-active">Todas</a>
            <a href="#/teste" class="mdl-layout__tab">Minhas Cucas</a>
            <a href="#/teste" class="mdl-layout__tab">Sair</a>
        </nav>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Cuca Manager</span>
        <nav class="mdl-navigation">
            <a href="#/list" class="mdl-navigation__link">Todas</a>
            <a href="#/teste" class="mdl-navigation__link">Minhas Cucas</a>
            <a href="#/teste" class="mdl-navigation__link">Sair</a>
        </nav>
    </div>
    <button id="add" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent">
        <i class="material-icons">add</i>
    </button>

    <!-- Content -->
    <main>
        <br><br>
        <div class="mdl-grid">
            <!-- card -->
            <div class="mdl-cell mdl-cell--4-col "> <!-- ng-repeat -->
                <div class="card mdl-card mdl-shadow--2dp">
                    <figure class="mdl-card__media">
                        <img src="resources\cakes.png" width="400px"height="280px" alt="" />
                    </figure>
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Cuca da Virada</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Esta cuca vai ser emocional e encantadora! Participem!.</p>
                        <p>29 mar 2016 15:00 - R$ 10,00</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Participar</a>
                    </div>
                </div>
            </div>
            <!-- fim card -->
        </div>
        <!-- /Content -->

    </main>
</div>
