<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Manager</h2>
    </div>
    <div class="mdl-card__supporting-text">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="campoEmail">
        <label class="mdl-textfield__label" for="sample3">Email</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="campoSenha">
        <label class="mdl-textfield__label" for="sample3">Senha</label>
      </div>

      <br>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Entrar
      </button>

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        Cadastre-se
      </button>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: right;">
        Esqueceu sua senha?
      </button>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">person_add</i>
      </button>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
